@model TrabajoPracticoPw3.Models.Pedido
@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
    ViewBag.Title = "Iniciado";
}

<h2>Pedido Iniciado</h2>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Mensaje
    </div>

}
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="~/Content/images/3empanadas.jpg" alt="3Empanadas" />
            <div class="card-body">
                <h5 class="card-title">Felicitaciones!</h5>
                <p class="card-text">Su pedido ha sido iniciado.</p>
                <a href="/Pedidos/Editar/@Model.IdPedido" class="btn btn-primary">Editar</a>
            </div>
        </div>

    </div>
</div>
